.main-view {
  display: flex;
  margin: 100px;
}

.grid {
  margin: 0px 30px;
}

.row {
  height: 64px;
}

.tile {
  width: 64px;
  height: 100%;
  border: 1px grey solid;
}

.building-icon {
  width: 128px;
  opacity: 0.5;
  padding: 10px;
}

.building-icon.buildable {
  opacity: 1.0;
}